.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 280px;
  width: 100%;
  max-width: 400px;
  padding: 16px 0;
}

@media screen and (max-width: 600px) {
  .name-container {
    grid-template-columns: 1fr;
  }
}
