.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 400px;
  padding: 16px 0;
}
.name-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
mat-form-field {
  width: 100%;
}
