table {
  width: 100%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.color-box {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  margin-right: 8px;
  vertical-align: middle;
  border: 1px solid rgba(0,0,0,0.12);
}

td.mat-cell {
  padding: 16px 8px;
}
